 .container{
    display:flex;
    flex-direction: column;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 200px;
    background: transparent;
    width: 600px;
    align-items: center;
    background-image: url(../assets/login-background.png); 
}
.h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color: #4c00b4;
    font-size: 48px;
    font-weight: 700;
}
.underline{
    width: 61px;
    height: 6px;
    background-color: #4c00b4;
    border-radius: 9px;
}
.inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}
.input img{
    width: 30px;
    height: 30px;
    margin: 0px 30px;
}

.input input{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 19px;
    color: #797979;
    background: transparent;
}
.forget-pass{
    padding-left: 62px;
    margin-top: 10px;
    color:#FFF;
    font-size: 18px;
}
.forget-pass span{
    color: #4c00b4;
    cursor: pointer;
}
.submit-cont{
    display: flex;
    gap: 30px;
    margin: 60px auto;
   
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    border-radius: 50px;
    background:#4c00b4;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.gray{
    color:#fff;
    background: #676767;
}
.message {
    margin-top: 20px;
    font-size: 16px;
    margin-left: 60px;
  }
  
  .message.success {
    color: green;
  }
  
  .message.error {
    color: red;
  }
  
  .submit-action {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .submit-action:hover {
    background-color: #0056b3;
  } 